.logo{
  color:rgb(240,243,189);
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
  background-color: rgb(5,102,141);
}

.ulNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:rgb(5,102,141);
  display: flex;
  color:rgb(240,243,189,0.5) !important;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ulNavbar li {
  margin: 0px 20px ;
}
.ulNavbar li:hover{
    color: rgb(240,243,189);
}

.ulNavbar .link{
  color:rgb(240,243,189,0.5)  ;
  text-decoration: none;
}